<p>
	Skill: 2D Art & Animation. - Beginner. <br>
	Programs & Tools: GIMP, Krita, Photoshop, InDesign, Illustrator. <br>
	Blurb: After discovering Krita, I’ve taken more of an interest in a painterly approach to art rather than what I’d call a more photo-editing method. That said, I can also use Adobe CC products having used InDesign and Illstrator in a Graphic Design module during my BA in Digital Marketing. I seek to improve my skills in the hopes of possibly getting into different types of Illustraton work projects. <br><br>
</p>
