<p class="SubBlurb">
	Skill: 2D Art & Animation. - Beginner. <br><hr>
	Programs & Tools: GIMP, Krita, Photoshop, InDesign, Illustrator. <br><hr>
	Blurb: After discovering Krita, I’ve taken an interest in a painterly approach to art rather than what I’d call a photo-editing method. I also use Adobe CC products having used InDesign and Illstrator in a Graphic Design module during my BA in Digital Marketing. <br>
	I seek to improve my skills in the hopes of getting into different types of Illustraton work projects, such as Environment and Prop Design roles
</p>
