<h1>
	Hi there&#33;
</h1>
<p>
	Thank you very much for exploring my Portfolio Website&#33;<br><br>

	My Name is Salum Muhammed&#46; As you may have noticed&#44; I like to think of myself as a &#34;Creative Semi&#45;Intermediate&#34; in terms of average skill level&#46;<br>
	by this I mean that&#44; although I may not have a <i>formal</i> education in most of my skills &#40;being mostly self&#45;taught&#41;&#44; I <i>do</i> believe that I am capable of doing&#44; or relatively&#45;easilly learning about&#44; most relavent skills and improving on said skills as time goes on&#46;<br>
	More specifically, my skills are in&#58;

	<!-- Skill: General Game Development - Semi-Novice. <br>
	Program(s) & Tool(s): GameMaker Studio, RPG Maker, Unity, Unreal Engine. <br>
	Blurb: In secondary school, I took part in the Business Enterprise Awards event with classmates (I wasn’t very comfortable with the marketing side which, sidenote, partially inspired me taking a BA in Digital Marketing eventually, so I asked for help). After this, I decided a career in the Game Development industry was interesting and so my journey began. <br><br> -->
</p>
<ul>
	<li>
		<!-- <a [routerLink]="['/projects/professional/modeling']"> -->
			3D Modelling
		<!-- </a> -->
	</li>
	<li>
		<!-- <a [routerLink]="['/projects/professional/art']"> -->
			2D Arts &#38; Texturing
		<!-- </a> -->
	</li>
	<li>
		<!-- <a [routerLink]="['/projects/professional/coding']"> -->
			Web&#44; App &#38; Game Development
		<!-- </a> -->
	</li>
</ul>
<!-- ^ TDL: Popup of the relevent Components? ^ -->