<h1>
	Hi there!
</h1>

<p>
	Thank you very much for exploring my Portfolio Website!<br><br>

	My Name is Salum Muhammed and, as you may have noticed, I like to think of myself as a "Creative Semi Intermediate" in terms of average skill level.<br>
	This is a phrase which here means that, although I may not have a <i>formal</i> education in most of my skills (being self-taught and all), I do believe that I am capable of doing or relatively-easilly learning most things and improving as time goes on.<br>
	A slightly more specific breakdown of skills would be: <br><br>

	<!-- Skill: General Game Development - Semi-Novice. <br>
	Program(s) & Tool(s): GameMaker Studio, RPG Maker, Unity, Unreal Engine. <br>
	Blurb: In secondary school, I took part in the Business Enterprise Awards event with classmates (I wasn’t very comfortable with the marketing side which, sidenote, partially inspired me taking a BA in Digital Marketing eventually, so I asked for help). After this, I decided a career in the Game Development industry was interesting and so my journey began. <br><br> -->
  </p>
<ul>
	<li>
		<a [routerLink]="['/projects/professional/modeling']">
			3D Modelling
		</a>
	</li>
	<!-- <li>
		<a [routerLink]="['/projects/professional/animation']">
			Animations
		</a>
	</li> -->
	<li>
		<a [routerLink]="['/projects/professional/art']">
			2D Arts and Texturing
		</a>
	</li>
	<li>
		<a [routerLink]="['/projects/professional/coding']">
			Web, App &amp; Game Development
		</a>
	</li>
</ul>
<!-- ^ TDL: Popup of the relevent Components? ^ -->
<p>
	Thanks for reading & Regards,<br><br>

	<span class="SignatureMotto">
	  Salum Muhammed, <br>
	  ~~|~~ Remember the Past, Live the Present, Dream the Future ~~|~~
	</span>
</p>