<style>
	/* body{
	 font-family: 'Avenir Next', sans-serif;
	 background: #191D21;
	 font-weight: 300;
	 font-size: 14px;
	 padding: 20px;
	  } */
  
	.masonryholder{
	  /* column-count: 4; */
	  /* column-gap: 20px; */
	  /* max-width: 1600px; */
	  margin: 0px !important;
	  /* align-content: center;
	  text-align: center; */
	  }
  
	.masonryblock{
	  display: inline-block;
	  /* background: #ebeded; */
	  background: grey;
	  /* padding: 20px; */
	  margin: 0 0 15px;
	  width: 100%;
	  box-sizing: border-box;
	  }
  
	.masonryblock img{
	  width: 100%;
	  }
  
	@media screen and (max-width:768px){
	  .masonryholder{
		column-count: 1;
	  }
	  }
  
	@media screen and (min-width:769px){
	  .masonryholder{
		column-count: 2;
	  }
	  }
  
	@media screen and (min-width:1080px){
	  .masonryholder{
		column-count: 3;
	  }
	  }
  
	@media screen and (min-width:1200px){
	  .masonryholder{
		column-count: 4;
	  }
	  }
  </style>
<div class="masonryholder">
	<div class="masonryblock"><img src="https://github.com/arjunkhara/css-images/blob/master/Mercury.png?raw=true">3D Modelling / Scripting</div>

	<div class="masonryblock"><img src="https://github.com/arjunkhara/css-images/blob/master/Venus.png?raw=true">Animation</div>

	<div class="masonryblock"><img src="https://github.com/arjunkhara/css-images/blob/master/Earth.png?raw=true">2D Art &amp; Texturing</div>

	<div class="masonryblock"><img src="https://github.com/arjunkhara/css-images/blob/master/Mars.png?raw=true">Scripting</div>

	<div class="masonryblock"><img src="https://github.com/arjunkhara/css-images/blob/master/Jupiter.png?raw=true">Jupiter</div>


	<div class="masonryblock"><img src="https://github.com/arjunkhara/css-images/blob/master/Saturn.png?raw=true">Saturn</div>

	<div class="masonryblock"><img src="https://github.com/arjunkhara/css-images/blob/master/Uranus.png?raw=true">Uranus</div>

	<div class="masonryblock"><img src="https://github.com/arjunkhara/css-images/blob/master/Neptune.png?raw=true">Neptune</div>

	<div class="masonryblock"><img src="https://github.com/arjunkhara/css-images/blob/master/Pluto.png?raw=true">Pluto</div>
</div>

	  <mat-grid-list cols="2" rowHeight="2:1">
		<mat-grid-tile>1</mat-grid-tile>
		<mat-grid-tile>2</mat-grid-tile>
		<mat-grid-tile>3</mat-grid-tile>
		<mat-grid-tile>4</mat-grid-tile>
	  </mat-grid-list>