
<nav class="HorNav">
	<mat-toolbar>
		<mat-toolbar-row class="HornavContent">

			<button mat-button class="HornavButton" id="HomePage"  routerLink="home" mat-button>
				<img src="https://img.icons8.com/material-two-tone/24/000000/home-page.png">
				Home
			</button>

			<button class="HornavButton" mat-button [matMenuTriggerFor]="AboutPage">
				<img src="https://img.icons8.com/material-two-tone/24/000000/about.png">
				About
			</button>
			<mat-menu #AboutPage="matMenu" xPosition="after">
				<button class="dropdown-item" routerLink="about/me" mat-menu-item>
					<!-- <a class="dropdown-item" routerLink="about/me"> -->
					About Me
					<!-- </a> -->
				</button>
				<a class="dropdown-item" routerLink="about/site" mat-menu-item>
					This Website
				</a>
			</mat-menu>

			<button class="HornavButton" mat-button [matMenuTriggerFor]="ProjectPage">
				<img src="https://img.icons8.com/material-two-tone/24/000000/group-of-projects.png">
				Projects
			</button>
				<mat-menu #ProjectPage="matMenu">
					<!-- <button mat-menu-item [matMenuTriggerFor]="vertebrates">Vertebrates</button> -->
					<button class="dropdown-item" mat-menu-item routerLink="projects/profesional">
						Professional Works
					</button>
					<button class="dropdown-item" routerLink="projects/personal" mat-menu-item>
						Personal Bests
					</button>
				</mat-menu>
					<!-- <mat-menu #Professional="matMenu">
						<button mat-menu-item [routerLink]="['projects/profesional/']" fragment="Scripting">
							Modelling &amp; Sculpting
						</button>
						<button mat-menu-item>Animation</button>
						<button mat-menu-item>2D Art &amp; Animation</button>
						<button mat-menu-item>Coding</button>
						<button mat-menu-item>Game Dev</button>
					</mat-menu>
					<mat-menu #Personal="matMenu">
						<button mat-menu-item routerLink="projects/profesional">
							Education/Tutorial Projects
						</button>
						<button mat-menu-item>
							Global Game Jam
						</button>
						<button mat-menu-item>
							Environment Eight
						</button>
						<button mat-menu-item>
							Fourty-Art-Hour Weekends
						</button>
					</mat-menu> -->
					<!-- ^ Should this be Popup Sections of a mosaic instead? ^ -->
			<button class="HornavButton" mat-button [matMenuTriggerFor]="ContactPage">
				<img src="https://img.icons8.com/material-two-tone/24/000000/add-contact-to-company.png">
				Contact
			</button>
			<mat-menu #ContactPage="matMenu" xPosition="after">
				<a class="dropdown-item" routerLink="contact/me" mat-menu-item>
					Me
				</a>
				<!-- <a class="dropdown-item" routerLink="contact/socials" mat-menu-item>
					Social Links
				</a> -->
				<a class="dropdown-item" routerLink="contact/commissions" mat-menu-item>
					Commissions
				</a>
			</mat-menu>
			<a class="HornavButton" id="FAQ"  routerLink="faq" mat-button>
				<img src="https://img.icons8.com/material-two-tone/24/000000/faq.png">
				FAQ / Q &amp; A
			</a>
			<a class="HornavButton" id="FAQ"  routerLink="feedback" mat-button>
				<img src="https://img.icons8.com/material-two-tone/24/000000/feedback.png">
				Feedback
			</a>
		</mat-toolbar-row>
	</mat-toolbar>
</nav>

