<nav class="HorNav">
	<mat-toolbar>  
		<mat-toolbar-row class="BrandContent">
			<span>SalumAli.ME<br>Personal Portfolio Website</span>
		</mat-toolbar-row>
		<mat-toolbar-row class="DeviderContent">
			<hr class="QuarterWide">
		</mat-toolbar-row>
		<mat-toolbar-row class="HornavContent">
			<button class="HornavButton" mat-button>
				<a class="nav-link icons-eight home" routerLink="home">
					<img src="https://png.icons8.com/material/35/bdc3c7/home-page.png" alt="Home">
					<span class="navhov-text">
						Home
					</span>
				</a>
			</button>

			<button class="HornavButton" mat-button [matMenuTriggerFor]="AboutPage">
				About
			</button>
			<mat-menu #AboutPage="matMenu" xPosition="after">
				<button mat-menu-item>
					<a class="dropdown-item" routerLink="about/me">
						About Me
					</a>
				</button>
				<button mat-menu-item>
					<a class="dropdown-item" routerLink="about/site">
						This Site
					</a>
				</button>
			</mat-menu>
			<button class="HornavButton" mat-button [matMenuTriggerFor]="ResumePage">
				Resume
			</button>
			<mat-menu #ResumePage="matMenu" xPosition="after">
				<button mat-menu-item>
					Complete Resume
				</button>
				<button mat-menu-item>
					Tag Search
				</button>
				<button mat-menu-item>
					3D Modeling
				</button>
				<button mat-menu-item>
					Animation
				</button>
				<button mat-menu-item>
					2D Art
				</button>
			</mat-menu>
			<button class="HornavButton" mat-button [matMenuTriggerFor]="ContactPage">
				Contact Me
			</button>
			<mat-menu #ContactPage="matMenu" xPosition="after">
				<button mat-menu-item>
					Contact Info
				</button>
				<button mat-menu-item>
					Social Links
				</button>
				<button mat-menu-item disabled>
					Commissions
				</button>
			</mat-menu>
		</mat-toolbar-row>
	</mat-toolbar>
</nav>
