<p>
	Hi.<br>
	Thank you very much for checking out my Portfolio Website.<br>
	I think of myself as a "Creative 'Semi-Intermediate'" in terms of my skills, which includes being self-taught in 3D Modeling, Web Design & 2D Digital Illustration. <br><br>
	This website was origionally done as a Web Authoring assignment, but was developed (aesthetically) from a previous project. 
	It will be used as a dynamic template for further projects, as well as it's current state of being a Dynamic Single Page Website - meaning the page itself does not load when you change routes
</p>
