<div class="completed" *ngIf="hasRoute('completed')">
	<hr>
	<h1>
		Forty-Art Hour Weekends
	</h1>
	<div class="GalleryGrid BackGround" id="FourtyArt">
		<div class="GalleryContainer FourtyArt">
			<img class="GridPic" src="assets/Projects/FAHW/M3P1/FAHW-3P1-TUD-TC-IslamSoc-GrandDinner-PotentialBackGround.jpg" alt="Fourty-Art-Hour-Weekends - 3.1">
			<div class="GridOverlay">
				<button (click)="FortNine()">
					<span class="text">
						FAHW 3.1 - Potential Poster Background
					</span>
				</button>
			</div>
		</div>
	</div>
	<hr>
	<h1>
		Environment Eight
	</h1>
	<div class="GalleryGrid BackGround" id="EnvEight">
		<div class="GalleryContainer">
			<img class="GridPic" src="assets/Projects/EnvEight/_E8-1_4B-0-2-1-1_FINAL_FLATTENED.jpg" alt="Environment Eight - 1">
			<div class="GridOverlay">
				<button (click)="EnvightOne()">
					<span class="text">
						Environment Eight 1 - Ocean Sunset
					</span>
				</button>
			</div>
		</div>
		<div class="GalleryContainer EnvEight">
			<img class="GridPic" src="assets/Projects/EnvEight/_E8-5__0-0-0-0-3_SkyDark-Transformed_One_001.jpg" alt="Environment Eight - 5">
			<div class="GridOverlay">
				<button (click)="EnvightFive()">
					<span class="text">
						Environment Eight 5 - Night Sky Texture
					</span>
				</button>
			</div>
		</div>
		<div class="GalleryContainer EnvEight">
			<img class="GridPic" src="./assets/Projects/EnvEight/_E8-8_0-0-1-0-0_TigerStripe-BrightSky.jpg" alt="Environment Eight - 8">
			<div class="GridOverlay">
				<button (click)="EnvightEight()">
					<span class="text">
						Environment Eight 8 - Abstract Northern Lights
					</span>
				</button>
			</div>
		</div>
	</div>
	<hr>
</div>

<div class="ongoing" *ngIf="hasRoute('ongoing')">
	<p>
		Ongoing projects will go here. check back later for more progress
	</p>
</div>
<div class="archived" *ngIf="hasRoute('archived')">
	<p>
		Archived projects will go here. check back later for more progress
	</p>
</div>
