<div class="MainGrid" id="PageWrap">
  <header class="SubGrid MainItem" id="HeaderWrap">
    <app-bottomjump></app-bottomjump>
    <hr class="QuarterWide">
    <div id="PageTitles">
        <h3 id="SiteTitle">
          {{title}}
        </h3>
        <h2>
          Personal &amp; Professional Portfolio Projects
        </h2>
    </div>
    <hr class="HalfWide">
    <app-corenav></app-corenav>
  </header>

  <div class="SubGrid MainItem" id="BodyWrap">
    <div class="SubItem" id="PageBlurb">
      <div id="JumpNav">
        <p class="TEST">
          <app-backjump></app-backjump>
          <app-forwardjump></app-forwardjump>
        </p>
      </div>
      <div id="BlurbSection">
        <app-mainblurb></app-mainblurb>
      </div>
    </div>
    <aside class="SubItem" id="FeedNav">
      <!-- <app-feednav *ngIf="!router.url.includ+es('contact/socials')"></app-feednav> -->
      <app-feednav></app-feednav>
    </aside>
    <main class="SubItem" id="RouterContent">
      <div id="CurrentRout">
        <p>
          Your Current Route: <br>{{location.path()}}
        </p>
      </div>
      
      <router-outlet></router-outlet>
    </main>
    <div  class="SubItem" id="HorAd">
      <app-adhorizontal></app-adhorizontal>
    </div>
  </div>

  <footer class="SubGrid MainItem" id="FooterWrap">
    <hr class="HalfWide">

    <app-footnav></app-footnav>
    <hr class="QuarterWide">
    <app-topjump></app-topjump>
  </footer>
</div>