<div class="MainGrid" id="PageWrap">
  <header class="SubGrid MainItem" id="HeaderWrap">
    <app-bottomjump></app-bottomjump>
    <hr class="QuarterWide">
    <div id="PageTitles">
        <h3 id="SiteTitle">
            {{title}}
          </h3>
          <h2>
            Personal Portfolio Website
          </h2>
    </div>
    <hr class="HalfWide">
    <app-corenav></app-corenav>
  </header>
  
  <div class="SubGrid MainItem" id="BodyWrap">
    <div class="SubItem" id="PageBlurb">
      <div id="JumpNav">
        <p class="TEST">
          <app-backjump></app-backjump>
          <app-forwardjump></app-forwardjump>
        </p>
      </div>
      <div id="BlurbSection">
        <app-mainblurb></app-mainblurb>
      </div>
    </div>
    <aside class="SubItem" id="FeedNav">
      <app-feednav></app-feednav>
    </aside>
    <main class="SubItem" id="RouterContent">
      <div id="CurrentRout">
        <p>
          Your Current Page: {{location.path()}}
        </p>
      </div>
      <router-outlet></router-outlet>
    </main>
    <div  class="SubItem" id="HorAd">
      <p>lorem</p>
    </div>
  </div>
  
  <footer class="SubGrid MainItem" id="FooterWrap">
    <app-footnav></app-footnav>
    <app-topjump></app-topjump>
  </footer>
</div>