#JumpNav
	border: 1px solid white
	// margin: 0.5em
	*
		display: inline-block
		padding: 0em 0.5em 0em 0.5em
		margin: 0px
#BlurbSection
	text-align: left
#CurrentRout
	border: 1px solid white
	p
		text-align: center
		margin: 0
.TEST
	align-self: center