<p class="SubBlurb">
	Having specificallly focused on 2D art projects for my last few projects, I have decided to go "back to my roots", in a manner of speaking, and combine all of my skills into a year-long Game Development project.<br>
	Initially, I was considering a "skill a month" basis - e.g. sketching or game design for a month, for instance - but having started the first month with game design I soon got invested in the game idea and instead decided to evolve it and work on it for an end of year release.<br><br>
	<!-- That's not to say its the only thing on thsi page, as  -->
</p>