<p class="SubBlurb">
	Apart from solo projects, I will also include links to projects I've been a part of such as Game Jams and other recurring projects.
</p>

<h1>
	Game Jams
</h1>

<h2>
	Global Game Jam
</h2>

<ul class="JamList" id="GameJam">
	<li>
		<a href="https://globalgamejam.org/users/salumamuhammed" target="_blank">
			All Global Game Jam Games - AKA My GGJ Profile
		</a>
	</li>
	<li>
		<a href="https://globalgamejam.org/2021/games/pathless-4" target="_blank">
			GGJ 2021 - Game: PATHLESS
		</a> <br>
		Theme: Lost And Found <br> Role: General Assistance (Mechanics Review, Research & Development, GGJ-Related Advice)
	</li>
	<li>
		<a href="https://globalgamejam.org/2020/games/repair-shops-tale-0" target="_blank">
			GGJ 2020 - Game: A Repair Shop's Tale
		</a> <br>
		Theme: Repair <br> Role: Texturing, Pocketwatch Model Sprites, Healthbar UI
	</li>
	<li>
		<a href="https://globalgamejam.org/2018/games/signals" target="_blank">
			GGJ 2018 - Game: Signals
		</a> <br>
		Theme: Transmission <br> Role: Textures
	</li>
	<li>
		<a href="https://globalgamejam.org/2017/games/project-monkey" target="_blank">
			GGJ 2017 - Game: Project Monkey
		</a> <br>
		Theme: Waves <br> Role: Artist
		<!-- <br>
		<iframe width="560" height="315" src="https://www.youtube.com/embed/Wg9eR5hvdXA" frameborder="0" allowfullscreen>
		</iframe>
		<br>
		<iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/303884745&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true">
		</iframe> -->
	</li>
</ul>