<p>
	Apart from solo projects, I will also include links to projects I've been a part of such as Game Jams and other recurring projects;
</p>

<h1>Game Jams</h1>

<h2>
	Global Game Jam
</h2>

<ul class="SubList">
	<li>
		<a href="https://globalgamejam.org/users/salumamuhammed" target="_blank">
			All Global Game Jam Games AKA My GGJ Profile
		</a>
	</li>
	<li>
		<a href="https://globalgamejam.org/2020/games/repair-shops-tale-0" target="_blank">
			GGJ 2020 - A Repair Shop's Tale
		</a>
	</li>
	<li>
		<a href="https://globalgamejam.org/2018/games/signals" target="_blank">
			GGJ 2018 - Signals
		</a>
	</li>
	<li>
		<a href="https://globalgamejam.org/2017/games/project-monkey" target="_blank">
			GGJ 2017 - Project Monkey
		</a>
	</li>
</ul>