<h1>
	Hi there!
</h1>

<p>
	Thank you very much for exploring my Portfolio Website! <br>
	As you may have noticed by the site's Blurb, I think of myself as a "Creative 'Semi-Intermediate'" in most of my skills. A slightly more specific breakdown of skills would be: <br><br>
	Skill: 3D Modelling, Animation & CAD - Novice. <br>
	Programs & Tools: SolidWorks, 3DS Max, Maya, Blender, Cinema 4D. <br>
	Blurb: I use Blender right now, but I’ve used trial versions of Cinema 4D, 3DS Max & May. I also took Design & Communication Graphics during my Leaving Certificate & the program used was SolidWorks. <br><br>

	Skill: 2D Art & Animation. - Beginner. <br>
	Programs & Tools: GIMP, Krita, Photoshop, InDesign, Illustrator. <br>
	Blurb: After discovering Krita, I’ve taken more of an interest in a painterly approach to art rather than what I’d call a more photo-editing method. That said, I can also use Adobe CC products having used InDesign and Illstrator in a Graphic Design module during my BA in Digital Marketing. I seek to improve my skills in the hopes of possibly getting into different types of Illustraton work. <br><br>

	Skill: Web & App Development - Semi-Intermediate. <br>
	Programs & Tools: Sublime Text, HTML, CSS, SASS/CSS, (some) JavaScript & Java, Angular (& TypeScript by extension?). <br>
	Blurb: In creating a website mainly for a Portfolio & other works, I’ve learnt about various languages. I’ve also have some experience with coding in Java on Object-Oriented Programming assignments. I was also introduced to the “TypeScript-based open-source front-end web application" platform Angular after wanting a way to easily shift between sections of my web design project. I also discovered the advantages of SASS, so I'm learning that as well. <br><br>

	Skill: General Game Development - Semi-Novice. <br>
	Program(s) & Tool(s): GameMaker Studio, RPG Maker, Unity, Unreal Engine. <br>
	Blurb: In secondary school, I took part in the Business Enterprise Awards event with classmates (I wasn’t very comfortable with the marketing side which, sidenote, partially inspired me taking a BA in Digital Marketing eventually, so I asked for help). After this, I decided a career in the Game Development industry was interesting and so my journey began. <br><br>

	Thanks for reading & Regards,<br><br>

	<span class="SignatureMotto">
	  Salum Muhammed, <br>
	  ~~|~~ Remember the Past, Live the Present, Dream the Future ~~|~~
	</span>
	<br>
  </p>