.LetterHeader
	text-align: left
p
.SignatureMotto
	// display: block
	text-align: center
	// &#Motto
	@media only screen and (max-width: 1527px)
		#LandScaped
			display: none
	@media only screen and (min-width: 1527px)
		#PorTrayed
			display: none