<h1 class="LetterHeader">
	Dear Reader&#44;
</h1>
<p class="LetterBody">
	First of all&#44; welcome to my <a [routerLink]="['/about/site']">Portfolio Projects Website</a>&#46;<br><br>

	My Name is Salum Muhammed and I like to think of myself as a &#34;Creative Intermediate&#34; in terms of average skill level&#46; <a [routerLink]="['/about/skillz']">Click Here</a> to find out more on what I mean by that&#44; but in short I am a mostly self&#45;taught
	 <!-- <a [routerLink]="[ '/projects/professional/modeling' ]"> -->
		3D Modeller &#47; Sculpter
	<!-- </a> -->
	&#44;
	 <!-- <a [routerLink]="[ '/projects/professional/art' ]"> -->
		2D Digital Artist &#47; Texturer
	<!-- </a> -->
	&#38;
	  <!-- <a [routerLink]="[ '/projects/professional/coding' ]"> -->
		Programmer
	<!-- </a> -->
	&#46; <br><br>

	This website is a hub for all things &#39;me&#39;&#44; wheather it be school&#44; work&#44; personal or entertainment related&#46; I hope you enjoy your stay&#46;<br><br>

	Thanks for Reading &#38; Kind Regards&#44;<br><br>
</p>


<span class="SignatureMotto" id="Motto">
	<h1>
		Salum Muhammed&#44;<br>
	</h1>
	<app-motto></app-motto>
</span>