<h1 class="LetterHeader">
	Dear Reader,
</h1>
<p class="LetterBody">
	First of all, welcome to my "Personal & Professional Portfolio Projects" Website. I hope you enjoy your stay.<br><br>
	My Name is Salum Muhammed and, as you may have noticed, I like to think of myself as a "Creative Semi Intermediate" in terms of average skill level.<br>
	<a [routerLink]="[ '/about/skillz']">Click Here</a> to find out more on what I mean by that, but in short I am an averagely skilled, self-taught <a [routerLink]="[ '/projects/professional/modeling' ]">3D Modeller / Sculpter</a>, <a [routerLink]="[ '/projects/professional/art' ]">Texturer / 2D Artist</a> and <a [routerLink]="[ '/projects/professional/coding' ]">Programmer</a>. <br><br>

	Thanks for Reading & Kind Regards,<br><br>
</p>

<span class="SignatureMotto" id="Motto">
	<h1>
		Salum Muhammed,<br>
	</h1>
	<span id="LandScaped">
		<h2>
			~|~ Remember the Past, Live the Present, Dream the Future ~|~
		</h2>
	</span>
	<span id="PorTrayed">
		<h3>
			<br>
			Remember,<br>
			Live,<br>
			Dream.
		</h3>
	</span>
</span>