<h1>
	Welcome!
</h1>
<p>
	Hello and Welcome. <br>
	This is my portfolio Website - A place where I can both link to and upload portfolio-related items, as well as personal projets. <br><br>
	You may notice that this website doesn't load between pages. This is because this website is a Single Page Application (SPA) made using the framework known as <a href="http://angular.io/" target="_blank" rel="noopener noreferrer">Angular</a>. Instead, the route/link changes and points to different components.
</p>
