<h1>
	Welcome&#33;
</h1>
<p>
	Hello and Welcome&#46; <br>
	This is my portfolio Website &#45; A place where I can both link to and upload portfolio&#45;related items&#44; as well as personal projets&#46;<br><br>
	You may notice that this website doesn&#39;t load between pages&#46; This is because it&#39;s a Single Page Application &#40;SPA&#41; made using the <a href="http://angular.io/" target="_blank" rel="noopener noreferrer">Angular</a> framework&#46; Instead&#44; the route&#47;link changes and points to different components&#46;
</p>
