<nav class="HorNav SocialLinks">
	<ul>
		<li>
			<a href="https://www.pinterest.co.uk/salummuhammed/" target="_blank">
				<!-- <i class="fab fa-pinterest"></i> -->
				<!-- <img src="https://img.icons8.com/windows/32/000000/pinterest.png"/> -->
				<img src="https://img.icons8.com/windows/40/000000/pinterest-p.png"/>
			</a>
		</li>
		<li>
			<a href="https://www.deviantart.com/deltatechproductions" target="_blank">
				<!-- <i class="fab fa-deviantart"></i> -->
				<img src="https://img.icons8.com/windows/40/000000/devianart.png"/>
			</a>
		</li>
		<li>
			<a href="https://www.linkedin.com/in/salum-ali-muhammed/" target="_blank">
				<!-- <i class="fab fa-linkedin-in"></i> -->
				<img src="https://img.icons8.com/windows/40/000000/linkedin-2.png"/>
			</a>
		</li>
		<li>
			<a href="https://www.artstation.com/delta-studios/profile" target="_blank">
				<!-- <i class="fab fa-artstation"></i> -->
				<img src="https://img.icons8.com/windows/40/000000/artstation.png"/>
			</a>
		</li>
		<!-- <li> -->
			<!-- <a href="https://www.instagram.com/sam_rs_4/" target="_blank"> -->
				<!-- <i class="fab fa-instagram"></i> -->
				
			<!-- </a> -->
		<!-- </li> -->
		<li>
			<a href="https://twitter.com/samrs15" target="_blank">
				<!-- <i class="fab fa-twitter"></i> -->
				<img src="https://img.icons8.com/windows/40/000000/twitter.png"/>
			</a>
		</li>
		<li>
			<a href="mailto:samrs.78610@gmail.com">
				<!-- <i class="far fa-envelope"></i> -->
				<!-- ^ NTS: fab style is for branding. far is for regular styles ^ -->
				<img src="https://img.icons8.com/windows/40/000000/email.png"/>
			</a>
		</li>
		<li>
			<a href="https://www.facebook.com/SilverPhoenix6482/" target="_blank">
				<!-- <i class="fab fa-facebook-f"></i> -->
				<img src="https://img.icons8.com/windows/40/000000/facebook-f--v1.png"/>
			</a>
		</li>
	</ul>
</nav>