<p class="SubBlurb">
	Excluding January, the year has 48 weeks. Incidentally, at this time The most amount of free time I had per week totaled two days, or 48 hours. Since I was not able to attend the weekend-long <a href="http://https://globalgamejam.org/about" target="_blank" rel="noopener noreferrer">Global Game Jam</a> event in 2019, I decided to do my own "Art Jam" Challange by making at least one illustration piece per weekend over the year.<br>
	Unlike <a [routerLink]="[ '/projects/personal/environment-eight' ]">Environment Eight</a>, however, this was not limited to environment art but also included things such as logos, posers and prop desighn.
</p>
<div class="GalleryGrid" id="FAHW">
	<img class="GridPic" src="./assets/Projects/FAHW/M1P3/LandScape/FAHW-1P3-TUDTC-IslamSoc-NewLogo-LS.jpg" alt="Fourty-Art-Hour-Weekends - 1.1">
	<img class="GridPic" src="./assets/Projects/FAHW/M2P1/FAHW-2P1-TUD-TC-RoSoc-LogoOne.jpg" alt="Fourty-Art-Hour-Weekends - 2.1">
	<img class="GridPic" src="./assets/Projects/FAHW/M2P2/FAHW-2P2-TUD-TC-RovSoc-IntroPoster-PreBICS-1819-PlaceFour.jpg" alt="Fourty-Art-Hour-Weekends - 2.2">
	<img class="GridPic" src="./assets/Projects/FAHW/M3P1/FAHW-3P1-TUD-TC-IslamSoc-GrandDinner-PotentialBackGround.jpg" alt="Fourty-Art-Hour-Weekends - 3.1">
	<img class="GridPic" src="./assets/Projects/FAHW/M8P1/FAHW-8P1-TUD-TC-RovSoc-Intro-1920-PlusOverLay.jpg" alt="Fourty-Art-Hour-Weekends - 8.1">
	<img class="GridPic" src="./assets/Projects/FAHW/M8P2/FAHW-8P2-TUD-TC-RovSoc-NewLogo-PixPerf.jpg" alt="Fourty-Art-Hour-Weekends - 8.2">
	<img class="GridPic" src="./assets/Projects/FAHW/M8P3/FAHW-8P3-TUD-TC-RovSoc-AGM-1920-HalfStalk.jpg" alt="Fourty-Art-Hour-Weekends - 8.3">
	<img class="GridPic" src="./assets/Projects/FAHW/M10P1/FAHW-10P1-AI-CA-ClimateChange-MobileCampaign-SalumMuhammed-ChessPawn.png" alt="Fourty-Art-Hour-Weekends - 10.1">
</div>