<p class="SubBlurb">
	Excluding January, the year has 48 weeks. Incidentally, at this time The most amount of free time I had per week totaled two days, or 48 hours. Since I was not able to attend the weekend-long <a href="http://https://globalgamejam.org/about" target="_blank" rel="noopener noreferrer">Global Game Jam</a> event in 2019, I decided to do my own "Art Jam" Challange by making at least one illustration piece per weekend over the year.<br>
	Unlike <a [routerLink]="[ '/projects/personal/environment-eight' ]">Environment Eight</a>, however, this was not limited to environment art but also included things such as logos, posers and prop desighn.
</p>
<div class="GalleryGrid" id="FAHW">
	<img class="GridPic" src="./assets/Projects/FAHW/1_3_TUD_TC_ISOC_NEW_LGO_PKG/_LandScape/_FAHW_1-3_TUD_TC_ISOC_NEW_LGO_NewLogo_FIXED.jpg" alt="Fourty-Art-Hour-Weekends - 1.1">
	<img class="GridPic" src="./assets/Projects/FAHW/2_1_TUD_TC_RoSoc_LGO_ONE/_FAHW_2-1_TUDTC-RS-LGO_V01-PoC.jpg" alt="Fourty-Art-Hour-Weekends - 2.1">
	<img class="GridPic" src="./assets/Projects/FAHW/2_2_IntroPoster_ALSO_PreBICS_2018_2019_Place4/_FAHW_2_2_RoverSociety-IntroPoster_FINISHED_001.jpg" alt="Fourty-Art-Hour-Weekends - 2.2">
	<img class="GridPic" src="./assets/Projects/FAHW/3_1_TUD_TC_ISOC_GrandDinner_Potential_BG/_FAHW_3-1_3-0-0-0-0_4K-PLUS_LandScapeD.jpg" alt="Fourty-Art-Hour-Weekends - 3.1">
	<img class="GridPic" src="./assets/Projects/FAHW/8_1_TUD_TC_RovSoc_Intro_2019_2020/_FAHW_8_1_Finished_PlusOverlays_RZ.jpg" alt="Fourty-Art-Hour-Weekends - 8.1">
	<img class="GridPic" src="./assets/Projects/FAHW/8_2_TUD_TC_RovSoc_NEW_LGO/_FAHW_8_2_PixPerf.jpg" alt="Fourty-Art-Hour-Weekends - 8.2">
	<img class="GridPic" src="./assets/Projects/FAHW/8_3_TUD_TC_RovSoc_AGM_ONE_2019_2020/_FAHW_8_3_FullStalk.jpg" alt="Fourty-Art-Hour-Weekends - 8.3">
	<!-- <img class="GridPic" src="./assets/Projects/FAHW/10_1_IllustratorCA_ClimateChang_MobileCampaign/Salum Muhammed_Climate Change__ChessPawn.png" alt="Fourty-Art-Hour-Weekends - 10.1"> -->
</div>