<p class="SubBlurb">
	Not including January, there are 48 weeks in the year. Incidentally, the most amount of free-time hours I have during the weekend totals aproximately two days, or 48 hours. <br>
	Because of this, as well as being partially inspired by the weekend-long <a href="http://https://globalgamejam.org/about" target="_blank" rel="noopener noreferrer">Global Game Jam</a> event, I decided to do my own form of Art Jam with the challange of making at least one illustration piece per weekend. <br>
	Unlike Environment Eight, however, this was not limited to environment art, but also included things such as logos, posers and prop desighn.
</p>