<p class="SubBlurb">
	Considering I had experience with poster design and wanted to try a diferent style, I bought myself my first drawing tablet. In order to practice using it, I decided to do project-based work with deadlines, focusing on Environment and Prop Design. <br>
	As there where eight months left in the year I decided to create one Environment (and maybe prop) -focused piece every month for the last eight months of the year. The name was also partially insprired by <a href="https://knowyourmeme.com/memes/events/endless-eight-kyon-kun-denwa">the Endless Eight arc of the anime The Melancholy of Haruhi Suzumiya</a>, hence Environment Eight. <br>
</p>

<div class="GalleryGrid" id="EE">
	<div class="GalleryContainer">
		<img class="GridPic" src="./assets/Projects/EnvEight/E81.png" alt="Environment Eight - 1">
		<div class="GridOverlay">
			<!-- <button (click)="EnvightOne()">
				<span class="text">
					Environment Eight 1 - Ocean Sunset
				</span>
			</button> -->
		</div>
	</div>
	<!-- <div class="GalleryContainer">
		<img class="GridPic" src="./assets/Projects/EnvEight/E8ITTCS.png" alt="Environment Eight - 2">
		<div class="GridOverlay">
			<button (click)="EnvightTwo()">
				<span class="text">
					Environment Eight 2 - ITT Chess Society Logo 0
				</span>
			</button>
		</div>
	</div> -->
	<!-- <div class="GalleryContainer">
		<img class="GridPic" src="./assets/Projects/EnvEight/E85.png" alt="Environment Eight - 5">
		<div class="GridOverlay">
			<button (click)="EnvightFive()">
				<span class="text">
					Environment Eight 5 - Night Sky Texture
				</span>
			</button>
		</div>
	</div> -->
	<!-- <div class="GalleryContainer">
		<img class="GridPic" src="./assets/Projects/EnvEight/E88.png" alt="Environment Eight - 8">
		<div class="GridOverlay">
			<button (click)="EnvightEight()">
				<span class="text">
					Environment Eight 8 - Abstract Northern Lights
				</span>
			</button>
		</div>
	</div> -->
</div>