<p class="SubBlurb">
	After getting inspired to take up some sort of digital art, as well as considering I had experience with poster design already and wanted to try a diferent style, I bought myself my first drawing tablet. In order to practice using it, I decided to do some project-based work with deadlines. I also decided to focus on Environment and Prop Design as that was what iintrigued me most at the time. <br>
	I realized that there where eight months left in the year and so I decided to create at least one Environment (and maybe prop) -focused piece every month for the last eight months of the year. The name was also partially insprired by <a href="https://knowyourmeme.com/memes/events/endless-eight-kyon-kun-denwa">the Endless Eight arc of the anime The Melancholy of Haruhi Suzumiya</a>, hence Environment Eight. <br>
</p>

<div class="GalleryGrid" id="EE">
	<div class="GalleryContainer">
		<img class="GridPic" src="./assets/Projects/EnvEight/E8ITTCS.png" alt="E8 - X">
		<div class="GridOverlay OverLeft">
			<span class="text">
				Environment Eight - ITT Chess Society Logo 1
			</span>
			<!-- <span class="text">
				Environment Eight - ITT Chess Society Logo 1
			</span> -->
		</div>
	</div>
	<div class="GalleryContainer">
		<img class="GridPic" src="./assets/Projects/EnvEight/E81.png" alt="Environment Eight - 1">
		<div class="GridOverlay">
			<button (click)="EnvEightOne()">
				<span class="text">
					Environment Eight 1 - Ocean Sunset
				</span>
			</button>
		</div>
	</div>
	<div class="GalleryContainer">
		<img class="GridPic" src="./assets/Projects/EnvEight/E85.png" alt="Environment Eight - 5">
		<div class="GridOverlay">
			<span class="text">
				Environment Eight 5 - Night Sky Texture
			</span>
		</div>
	</div>
	<div class="GalleryContainer">
		<img class="GridPic" src="./assets/Projects/EnvEight/E88.png" alt="Environment Eight - 8">
		<div class="GridOverlay">
			<span class="text">
				Environment Eight 8 - Abstract Northern Lights
			</span>
		</div>
	</div>
</div>