<p class="SubBlurb">
	After getting inspired to take up some sort of digital art, as well as considering I had experience with poster design already and wanted to try a diferent style, I bought myself my first drawing tablet. In order to practice using it, I decided to do some project-based work with deadlines. I also decided to focus on Environment and Prop Design as that was what iintrigued me most at the time. <br>
	I realized that there where eight months left in the year and so I decided to create at least one Environment (and maybe prop) -focused piece every month for the last eight months of the year. The name was also partially insprired by <a href="https://knowyourmeme.com/memes/events/endless-eight-kyon-kun-denwa">the Endless Eight arc of the anime The Melancholy of Haruhi Suzumiya</a>, hence Environment Eight.
</p>
<div class="GalleryGrid" id="EE">
	<img class="GridPic" src="../../../../../assets/_Projects/_EnvEight/_E8-1_4B-0-2-1-1_FINAL_FLATTENED.png" alt="">
	<img class="GridPic" src="../../../../../assets/_Projects/_EnvEight/_E8-5-1_0-0-0-2_NebulaSketch_Template.png" alt="">
	<img class="GridPic" src="../../../../../assets/_Projects/_EnvEight/_E8_ITT-CS_LGO_0-1-0-2-0_ConcepDesign_LegibleChess_TinyError-Dusting.png" alt="">
	<img class="GridPic" src="../../../../../assets/_Projects/_EnvEight/_E8-8_0-0-1-0-0_SkyStreaks_TigerStripe_ProofOfConcept.png" alt="">
</div>