*
	text-align: center
#Motto
	// #MottoMedium
	// 	display: none
// @media only screen and (max-width: 1320px)
@media only screen and (max-width: 1220px)
	#MottoLong
		display: none
// @media only screen and (min-width: 1320px)
@media only screen and (min-width: 1220px)
	#MottoMedium
		display: none
@media only screen and (max-width: 658px)
	#MottoMedium
		display: none
// ^ WHY DOES THE ABOVE NOT WORK AS ONE MEDIA QUERY ?!?!?! ^
@media only screen and (min-width: 658px)
	#MottoShort
		display: none