
<h2 id="Motto">
	<span id="MottoLong">
		{{MottoLong}}
	</span>
	<span id="MottoMedium">
		{{MottoMedium}}
	</span>
	<span id="MottoShort">
		<br>Remember<br>Live<br>Dream<br>
	</span>
</h2>
<nav class="HorNav SocialLinks">
	<ul>
		<li>
			<a href="https://www.pinterest.co.uk/salummuhammed/" target="_blank">
				<i class="fab fa-pinterest"></i>
			</a>
		</li>
		<li>
			<a href="https://www.deviantart.com/deltatechproductions" target="_blank">
				<i class="fab fa-deviantart"></i>
			</a>
		</li>
		<li>
			<a href="https://www.linkedin.com/in/salum-ali-muhammed/" target="_blank">
				<i class="fab fa-linkedin-in"></i>
			</a>
		</li>
		<li>
			<a href="https://www.artstation.com/delta-studios/profile" target="_blank">
				<i class="fab fa-artstation"></i>
			</a>
		</li>
		<li>
			<a href="https://www.instagram.com/sam_rs_4/" target="_blank">
				<i class="fab fa-instagram"></i>
			</a>
		</li>
		<li>
			<a href="https://twitter.com/samrs15" target="_blank">
				<i class="fab fa-twitter"></i>
			</a>
		</li>
		<li>
			<a href="mailto:samrs.78610@gmail.com">
				<i class="far fa-envelope"></i>
				<!-- ^ NTS: fab style is for branding. far is for regular styles ^ -->
			</a>
		</li>
		<li>
			<a href="https://www.facebook.com/samrs761508/" target="_blank">
				<i class="fab fa-facebook-f"></i>
			</a>
		</li>
	</ul>
</nav>