<nav class="VerNav">
	<ul class="MainTitles">
		<li class="nav-item dropdown twitter feed-social">
			<h3 class="HeadingTitle">
				Twitter
			</h3>
			<div class="dropdown-menu" style="background-color: transparent">
				<a class="dropdown-item twitter-timeline" data-height="360" data-theme="dark" href="https://twitter.com/samrs15?ref_src=twsrc%5Etfw" data-chrome="transparent">
					Tweets by samrs15
				</a>
			</div>
		</li>
		<!-- ^ Twitter Timeline ^ -->
		<hr>
		<li class="nav-item dropdown pinterest feed-social">
			<h3 class="HeadingTitle">
				Pinterest
			</h3>
			<div class="dropdown-menu w3-animate-top" style="background-color: transparent">
				<a class="dropdown-item" data-pin-do="embedUser" data-pin-board-width="60 " data-pin-scale-height="360" href="https://www.pinterest.ie/salummuhammed/" data-chrome="transparent" >
					Salum&#44;s Pinterest Boards
				</a>
			<!-- ^ Pinterest Feed ^ -->
			</div>
		</li>
		<!-- <li>
			LinkedIn
		</li>
		<li>
			ArtStation
		</li>
		<li>
			DeviantArt
		</li> -->
	</ul>
</nav>