<!-- <diiv class="VerNav"> -->
	<!-- <ul class="MainTitles" id="SocioFeed"> -->

<div>
	<h1>
		Social & Other Feeds
	</h1>
</div>

<hr class="HalfWide">

<div class="nav-item dropdown twitter feed-social">
	<h1 class="HeadingTitle">
		Twitter
	</h1>
	<div class="dropdown-menu" style="background-color: transparent;">
		<a class=" dropdown-item twitter-timeline" data-height="360" data-theme="dark" href="https://twitter.com/SilvrFenix6482?ref_src=twsrc%5Etfw" data-chrome="transparent">
			Tweets by SilvrFenix6482
		</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
	</div>
</div>
<!-- ^ Twitter Timeline ^ -->

<hr class="HalfWide">

<!-- <div class="nav-item dropdown pinterest feed-social">
	<h1 class="HeadingTitle">
		Pinterest
	</h1>
	<div class="dropdown-menu w3-animate-top" style="background-color: transparent">
		<a class="dropdown-item" data-theme="dark" data-pin-do="embedUser" data-pin-board-width="60 " data-pin-scale-height="300" href="https://www.pinterest.ie/salummuhammed/" data-chrome="transparent" >
			Salum&#44;s Pinterest Boards
		</a>
	</div>
</div> -->
<!-- ^ Pinterest Feed ^ -->
<!-- ^ Does not always work consistantly, at least in testing, so i am dissabling it for now ^ -->

<!-- <hr class="HalfWide"> -->
<!-- <li>
	LinkedIn
</li>
<li>
	ArtStation
</li>
<li>
	DeviantArt
</li> -->
	<!-- </ul> -->
<!-- </diiv> -->