<p class="SubBlurb">
	Skill: Web & App Development - Semi-Intermediate. <br><hr>
	Programs & Tools: Sublime Text, HTML, CSS, SASS/CSS, Angular (& TypeScript by extension?). <br><hr>
	Blurb: In creating a website mainly for a Portfolio & other works, I’ve learnt about various languages. I’ve also have some experience with coding in Java on Object-Oriented Programming assignments. <br>
	I was introduced to the “TypeScript-based open-source front-end web application" platform Angular after wanting a way to keep parts of my web design projects static while making other parts change with the webpage. I also discovered the advantages of SASS, so I'm learning that as well.
</p>