<p>
	Skill: Web & App Development - Semi-Intermediate. <br>
	Programs & Tools: Sublime Text, HTML, CSS, SASS/CSS, (some) JavaScript & Java, Angular (& TypeScript by extension?). <br>
	Blurb: In creating a website mainly for a Portfolio & other works, I’ve learnt about various languages. I’ve also have some experience with coding in Java on Object-Oriented Programming assignments. I was also introduced to the “TypeScript-based open-source front-end web application" platform Angular after wanting a way to easily shift between sections of my web design project. I also discovered the advantages of SASS, so I'm learning that as well. <br><br>
</p>