
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
// $portfolio-website-primary: mat-palette($mat-indigo);
$portfolio-website-primary: mat-palette($mat-red);
$portfolio-website-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$portfolio-website-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$portfolio-website-theme: mat-light-theme($portfolio-website-primary, $portfolio-website-accent, $portfolio-website-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($portfolio-website-theme);


// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

*
{
	color: white;
	body
	{
		background-color: #000000;
		margin: 0px;
		// The image used
		background-image: url("./assets/site/IMG/HERO.png");
		// Full height
		// height: 100%
		// Center and scale the image nicely
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		text-align: center;
		background-attachment: fixed;
		font-family: 'Exo 2', sans-serif;
		hr.QuarterWide
		{
		width: 25%;
		}
		hr.HalfWide
		{
			width: 50%;
		}
		#NavTab
		{
			color: white;
		}
		.mat-tab-header-pagination
		{
			background-color: white;
		}
		.mat-tab-link-container
		{
			padding: 0.5em;
			border: 1px solid white;
		}
		span.SignatureMotto
		{
			display: block;
			text-align: center;
			// ^ Probaably not the 100% correct way of doing things, but it works, so I guess it's fine ^
		}
		p
		{
			padding: 1em;
			text-align: left;
		}
		h1, h2, h3, h4, h5, h6
		{
			font-family: 'Cinzel Decorative', cursive;
			font-weight: 400;
		}
	}
}