// My Own Imports

// Color Schemes



// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
// $portfolio-website-primary: mat-palette($mat-indigo);
$portfolio-website-primary: mat-palette($mat-red);
$portfolio-website-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$portfolio-website-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$portfolio-website-theme: mat-light-theme($portfolio-website-primary, $portfolio-website-accent, $portfolio-website-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($portfolio-website-theme);


// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

*
{
	// common styles
	// transition: all 0.5s ease-in-out;
	color: white;
	// Elements
	body
	{
		background-color: #000000;
		margin: 0px;
		padding: 0px;
		// The image used
		background-image: url("./assets/IMG/HeroC.png");
		// Full height
		// height: 100%
		// Center and scale the image nicely
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		text-align: center;
		background-attachment: fixed;
		font-family: 'Exo 2', sans-serif;

		h1, h2, h3, h4, h5, h6
		{
			margin: 0.5em;
			font-family: 'Cinzel Decorative', cursive;
			font-weight: 400;
			&.HeadingTitle
			{
				text-align: center;
			}
			// &.ListSubHeading
			// {
			// 	text-align: left;
			// }
		}
		p
		{
			font-size: x-large;
			padding: 1em;
			text-align: left;
			&.SubBlurb
			{
				border: 1px solid white;
				margin: 0px;
				text-align: center;
			}
			// &.LetterBody
			// {
			// 	font-family: 'Cinzel', serif;
			// 	font-variant: small-caps;
			// 	font-size: 1.45em;
			// }
		}
		// p, h1, h2, h3, h4, h5, h6, span
		// {
		// 	color: rgb(200, 200, 200);
		// }
		ul, li
		{
			text-align: left;
			font-size: x-large;
			list-style: none;
			// margin: 0;
			// padding: 0;
			&.SubList
			{
				margin: 1em;
			}
		}
		a
		{
			color: yellow;
		}
		span
		{
			&.SignatureMotto
			{
				display: block;
				text-align: center;
				// ^ Probaably not the 100% correct way of doing things, but it works, so I guess it's fine ^
			}
			&.mat-button-wrapper
			{
				color: black;
			}
		}
		hr
		{
			color: white !important;
			&.QuarterWide
			{
				width: 25% !important;
			}
			&.HalfWide
			{
				width: 50% !important;
			}
			&.TQW
			{
				width: 75%;
			}
		}
		nav
		{
			// &#SiteNav
			// {
			// 	// background-color: blue;
			// 	// position: sticky;
			// 	// position: -webkit-sticky;
			// 	// top: 0;
			// 	// width: 100%;
			// 	// ^ Almost Works. To Be Reviewd Later. ^
			// }
			&.HorNav
			{
				// display: inline-block;
				// margin: 0.5em auto;
				&.SocialLinks
				{
					// background-color: #fff;
					padding: 1em;
					ul
					{
					text-align: center;
					li
						{
							background-color: grey;
							display: inline;
							margin: 0.5em;
							// padding: 0.5em;
							:hover
							{
								// transition: all 1s ease-in-out;
								cursor: pointer;
								// a
								// {
								// 	background-color:yellow;
								// }
								// color: green;
								// font-size: 1.25em;
							}
							a
							{
								// width: 100%;
								// height: 100%;
								// margin: 0.125em;
								// padding: 0.5em;
								// color: green;
								:hover
								{
									transition: all 1s ease-in-out;
									background-color:yellow;
								}
								img
								{
									background-color: #fff;


								}

								.fab, .far
									{
									color: black;
										// margin: 0.5em;
									}
							}
						}
					}
				}
			}
		}
		form
		{
			input, textarea, button
			{
				width: 50%;
				background-color: rgba($color: #000000, $alpha: 1.0);
			}
		}
		// Miscelaneouse
		#NavTab
		{
			color: white;
		}
		// Overides
		// Angular Material Tab Styling Overides
		.mat-tab-header-pagination
		{
			background-color: white;
		}
		// ^ Material Tabs Buttons When Width is Smaller than Content ^
		.mat-tab-link-container
		{
			// padding: 0.5em 0em 0.5em 0em;
			border: 1px solid white;
			.mat-tab-link
			{
				transition: all 0.75s ease;
				color: white;
				margin: 0.25em;
				&:hover, &.mat-tab-label-active
				{
					background-color: grey;
				}
				// ^ Highlights Current Angular Material Tab ^
			}
		}
		.mat-tab-nav-bar.mat-primary .mat-ink-bar
		{
			margin-bottom: 0.125em;
		}
		// Angular Material Dialog Box Overides
		.mat-dialog-container
		{
			background-color: rgba($color: #000000, $alpha: 0.75);
			.mat-dialog-content
			{
				font-size: 2em;
				img
				{
					width: 50%;
					height: 50%;
				}
			}
		}
	}
}
.EmptyPage
{
	text-align: center;
}