/* You can add global styles to this file, and also import other style files */

// My Improts

@import './assets/CODE/SASS/_grid'

.MainGrid, #PageWrap
	background-color: rgba($color: #000000, $alpha: 0.5)
	padding: 2em 0em 2em 0em
	// margin: 2em
	// ^Is the above even needed? probably not ^
	// height: 100%
	// width: 100%
	.MainItem
	// #HeaderWrap
	#BodyWrap
		background-color: rgba($color: #000000, $alpha: 0.25)
		// padding: 0.25em
		border: 0.5em ridge rgba(255, 255, 255, 0.5)
		// max-height: 1080px
		.SubItem
			margin: 0.5em
		#PageBlurb
			border: 0.5em ridge white
		#FeedNav
			// max-height: 100%
			border: 0.5em ridge white
		#RouterContent
			// max-height: 100%
			border: 0.5em ridge white
		#HorAd
			grid-column: 1/11
			border: 0.5em ridge white
	#FooterWrap

		// border: 0.5em ridge white
		// ^ NTS: Above border was to proove a concept. Not actually needed but for self-reefrence ^
	// hr

.GalleryGrid
	// text-align: left
	line-height: 0
	-webkit-column-gap:   0px
	-moz-column-gap:      0px
	column-gap:           0px
	background-color: rgba(255, 255, 255, 0.25)
	-webkit-column-count: 2
	-moz-column-count:    2
	column-count:         2
	// ^ Optimal Viewing Angles ^
	.GalleryContainer
		position: relative
		width: 100%
		height: auto
		// display: inline-block
		&:hover .GridOverlay
			visibility: visible
			opacity: 1
			.text
				// transform: translateY(0)
		.GridPic
			display: block
			width: 100%
			// ^ NTS: Keeps images from going outside row boundries ^
			height: 100%
			// width: 100% !important
			// height: auto !important
		.GridOverlay
			// cursor: pointer
			position: absolute
			top: 0
			bottom: 0
			left: 0
			right: 0
			background: rgba(0, 0, 0, 0.5)
			visibility: hidden
			opacity: 0
			display: flex
			align-items: center
			justify-content: center

			// /* transition effect. not necessary */
			transition: all 0.75s ease
			button
				background-color: #000000
				padding: 5%
				cursor: pointer
				// font-size: 105%
				.text
					// color: #000000
					font-size: 1.0625em
					transition: all 0.75s ease
					// transform: translateY(1em)
@media (max-width: 1200px)
	.GalleryGrid
		-moz-column-count:    4
		-webkit-column-count: 4
		column-count:         4
@media (max-width: 1000px)
	.GalleryGrid
		-moz-column-count:    3
		-webkit-column-count: 3
		column-count:         3
@media (max-width: 800px)
	.GalleryGrid
		-moz-column-count: 2
		-webkit-column-count: 2
		column-count: 2
@media (max-width: 400px)
	.GalleryGrid
		-moz-column-count:    1
		-webkit-column-count: 1
		column-count:         1
#SubBlurb
	border: 1px solid white
	margin: 0px
	text-align: center

// Generalised Content

// @media only screen and (max-width: 1320px)





// ####################################################
// M E D I A  Q U E R I E S
// ####################################################

// ::::::::::::::::::::::::::::::::::::::::::::::::::::
// Bootstrap 4 breakpoints

/* Small devices (landscape phones, 576px and below) */
// @media (max-width: 576px)
@media only screen and (max-width: 560px)
	#PageWrap
		margin: 0em
		#HeaderWrap
		#BodyWrap
			grid-column: 1/13
			// grid-template-columns: repeat(12, 1fr)

/* Medium devices (tablets, 768px and below) The navbar toggle appears at this breakpoint */
@media (max-width: 768px)


/* Large devices (desktops, 992px and below) */
@media (max-width: 992px)


/* Extra large devices (large desktops, 1320px and below) */
// @media (max-width: 1200px)
@media only screen and (max-width: 1320px)
	hr
		display: none
	#FeedNav
		display: none
	#RouterContent
		max-height: 100%
		grid-column: 1/11 !important
		border: 0.5em ridge white
// ^ Removing FeedNav on tablet-like smaller screens ^

// ::::::::::::::::::::::::::::::::::::::::::::::::::::
// Custom media queries

/* Set width to make card deck cards 100% width */
@media (max-width: 950px)

