/* You can add global styles to this file, and also import other style files */
.MainGrid
// Above Tablet Sized
#PageWrap
	margin: 2em
	// ^Is the above even needed? probably not ^
	// height: 100vh
	display: grid
	grid-template-columns: repeat(12, 1fr)
	grid-row-gap: 0em
	grid-auto-rows: auto
	.MainItem
	#HeaderWrap
		grid-column: 1/13
	#BodyWrap
		padding: 1em
		grid-column: 2/12
		border: 0.5em ridge white
		display: grid
		max-height: 1080px
		grid-template-columns: repeat(10, 1fr)
		.SubItem
			margin: 0.5em
			// ^ Keep? TBD ^
		#PageBlurb
			grid-column: 1/11
			border: 0.5em ridge white

		#FeedNav
			max-height: 100%
			grid-column: 1/4
			border: 0.5em ridge white
		#RouterContent
			max-height: 100%
			grid-column: 4/11
			border: 0.5em ridge white
		#HorAd
			grid-column: 1/11
			border: 0.5em ridge white
	#FooterWrap
		grid-column: 3/11
		// border: 0.5em ridge white
		// ^ NTS: Above border was to proove a concept ^
	// hr

// Generalised Content

@media only screen and (max-width: 1320px)
	#FeedNav
		display: none
	#RouterContent
		max-height: 100%
		grid-column: 1/11 !important
		border: 0.5em ridge white
// ^ Mixin for Removing FeedNav on tablet-like smaller screens ^

@media only screen and (max-width: 560px)
	#PageWrap
		margin: 0em
		#HeaderWrap
			hr
				display: none
		#BodyWrap
			grid-column: 1/13
			// grid-template-columns: repeat(12, 1fr)
