<p>
	It all started as a simple HTML&#45;based project&#46;<br>
	Eventually the site went from being simply HTML&#47;CSS based to HTML and <b>S</b>CSS&#47;<b>SASS</b> based&#46; This was evolved with my introduction to Angular JS and now some JavaScript elements are being experimented with in order to take more advantage of Angular&#39;s dynamic features and nature&#46;
</p>
<p>
	At some points in time&#44; I may open myself up to commissions and&#47;or open a shop section for various things&#46;<br>
	From time to time&#44; such as when commissions or the shop are closed&#44; some or all of the &#34;shopping&#34; pages may have dissabled links&#46;<br>
	This&#44; I&#39;ve found&#44; is a lot less confusing compared to dissabling the &#34;shopping&#34; button entirely&#46; This is because dissabled sub&#45;menu links are greyed out while there&#39;s no difference to the main navigation bar options&#46;
</p>